.course-program-section{
	padding: 0 0 85px;

	.container{
		position: relative;
		z-index: 2;
	}

	.section-decorations{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;

		.left-decoration{
			position: absolute;
			left: -187px;
			width: 0;
			top: 105px;

			.decor-text{
				transform: translateX(-50%) rotate(-90deg);
			}
		}
	}

	.section-inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.section-left{
		width: 420px;
		position: relative;

		.section-image{
			position: absolute;
			z-index: -1;
			left: -57px;
			top: 50%;
			transform: translateY(-50%);
			opacity: .2;

			img{
				display: block;
			}
		}
	}

	.full-program-page &{
		padding-top: 262px;

		@media screen and (max-width: 1199px){
			padding-top: 172px;
		}
	}

	@media screen and (max-width: 991px){
		padding-bottom: 70px;

		.section-inner{
			flex-direction: column;

			.section-left{
				width: 100%;
				margin-bottom: 30px;

				.section-image{
					top: -97px;
					transform: translateY(0);
				}
			}
		}
	}

	@media screen and (max-width: 767px){
	}
}